extends layout

block content
    div(class="container")
        div(class="one") 1
        div(class="two") 2
        div(class="three") 3
        div(class="four")
            img(src="/images/happysmiley.jpg" class="responsive")
