extends layout

block content
    h1 Welcome to Sass demo with gulp as build tool
    p You judge me fairly

    table(class="table-base",id="data")
      tr
        th To-do
        th Date       
        tr
            td VaskTøj
            td 17/01/2019
    a(href="http://localhost:3000/cssgridlayoutview" class="buttonstyle")
      button(type="button" class="buttonstyle") Change to Css Layout grid



