$blue: #3bbfce;
$margin: 16px;

.content-navigation{
    font-size: $margin;
}
.content-header{
    background-color: $blue;
}
.container {
    width: 100%;
    border: 5px solid;
    border-radius: 5em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;

}
.buttonstyle{
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    color:$blue;
}
.one {
    grid-column: 1/8;
    grid-row:1;
    background-color: $blue

}
.two {
    grid-column: 1/3;
    grid-row:2;
    background-color: red
}
.three{
    grid-column: 2/2;
    grid-row: 5;
    background-color: yellow+$blue
}
.four{
    grid-column: 1/4;
    grid-row:6;
}
@media screen and (max-width: 800px) {
    img.responsive {
      max-width: 100px;
      max-height: 100px;
  
     } }
  
  @media screen and (min-width: 801px) {
    img.responsive {
      max-width: 200px;
      max-height: 200px;
     } }
  img.responsive{height: auto;}
@mixin table-base {
    th{
        text-align: center;
        font-weight: bold;
        font-size: $margin;
        color:red

    }
    td,th{padding: 2px}
}

#data {
    @include table-base;
}

@mixin cool-border($color,$width: 1px) {
    border: {
        color: $color;
        width: $width;
        style: dashed;

    }

}
p {
    @include cool-border(blue)
}

h1{
    @include cool-border(blue,20px) 
}